<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Libros</title>

</head>
<body>
  <nav class="navbar navbar-light blur">
    <img src="{{url_for('static', filename='img/itec.png')}}" width="80" height="80" class="d-inline-block align-top " alt="" loading="lazy">
    <p class="Righteous m-3" id="title">BIBLIOTECA ITEC RIO CUARTO</p> 
  </nav> 
           
  <br><br><br>
  <div class="container"> 
    <br>
    <h1>QUE LIBRO DESEA BUSCAR ?</h1>
    <br>

    <div class="container1">
      <input type="search" placeholder="Libro...Autor...Genero... ">
    <div class="search"></div> 
    
    <br>

    <div class="row">
      <div class="col-sm">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Libro</th>
                <th scope="col">Autor</th>
                <th scope="col">Genero</th>
              </tr>
            </thead>
            {% for libro in libros %}
            <tbody>
                <tr>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.autor}}</td>
                    <td>{{libro.genero}}</td>
                </tr>
            </tbody>
            {% endfor %}
          </table>

          <a href='{{ url_for("mostrarLibros") }}'>
            <button class="btn btn-light m-3 botones naranja">VOLVER</button>
        </a>
         
      </div>
    </div>
</div >
  
  <br><br><br><br><br><br>
  <!-- COMIENZO DEL FOOTER -->
  <nav class="fixed-bottom footer">
    <br>    
    <p>© Copyright 2001-2020 Copyright.es - Todos los Derechos Reservados - Legal</p>
    <br>
  </nav> <!--  FIN DEL FOOTER -->  

</body>
</html>