<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Libros</title>

</head>
<body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <img src="{{url_for('static', filename='img/itec.jpeg')}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    <p class="Righteous m-3" id="title">BIBLIOTECA ITEC RIO CUARTO</p> 
  </nav>
           
  <br><br><br>
  <div class="container"> 
      
  </div>  


    </div >
      <br><br><br><br><br><br>
      <!-- COMIENZO DEL FOOTER -->
      <nav class="fixed-bottom footer">
        <br>    
        <p>© Copyright 2001-2020 Copyright.es - Todos los Derechos Reservados - Legal</p>
        <br>
    </nav> <!--  FIN DEL FOOTER -->  


</body>
</html>